/* Common styles for all screen sizes */

.about-home {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  margin-left: 70px;
}

.about-centered-container h2 {
  text-align: left;
}

.nimful-about-header {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.home .centered-container-index {
  text-align: center;
}

.centered-container h2 {
  text-align: left;
  margin-top: 12px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.go {
  color: #0961e4;
}

/* Responsive adjustments for screen sizes below 768px (mobile devices) */
@media (max-width: 767px) {
  .home {
    margin-left: 10px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }

  .centered-container h2 {
    font-size: 15px;
  }

  .about-home {
    margin-left: 20px;
    overflow-y: scroll;
    max-height: 300px;
  }

}

/* Responsive adjustments for screen sizes between 768px and 1023px (small devices) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    margin-left: 100px;
  }

  .profile-image {
    width: 250px;
    height: 250px;
  }

  .home .centered-container h2 {
    font-size: 18px;
  }
}

/* Responsive adjustments for screen sizes above 1023px (large devices) */
@media (min-width: 1024px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .home .centered-container-index {
    margin-bottom: 20px;
  }

  .profile-image {
    width: 300px;
    height: 300px;
  }

  .home .centered-container h2 {
    font-size: 18px;
  }
}