/* Common styles for all screen sizes */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #0d524c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #0d524c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.contact-links a:nth-of-type(1) {
  background-color: rgb(0, 102, 255);
}

.contact-links a:nth-of-type(2) {
  background-color: rgb(51, 179, 202);
}

.contact-links a:nth-of-type(3) {
  background-color: rgb(255, 81, 0);
}

.contact-links a:nth-of-type(4) {
  background-color: rgb(5, 124, 139);
}

.contact-links a:hover {
  background-color: #555;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 140px;
  height: 140px;
  border: 2px solid #cee409;
  border-radius: 50%;
  margin: 0 auto; /* Center the image horizontally */
}

.cloud {
  position: absolute;
  top: -60px;
  right: -80px;
  width: 160px;
  height: 80px;
  background-color: #cee409;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

/* Specific styles for screen sizes below 768px (mobile devices) */
@media (max-width: 767px) {
  .contact-container {
    margin-left: 10px;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-form button {
    width: 100%;
  }

  .contact-form img {
    width: 100px;
    height: 100px;
  }
}

/* Specific styles for screen sizes between 768px and 1023px (small devices) */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-container {
    margin-left: 30px;
  }

  .contact-form {
    max-width: 500px;
  }

  .contact-form img {
    width: 120px;
    height: 120px;
  }
}

/* Specific styles for screen sizes above 1023px (large devices) */
@media (min-width: 1024px) {
  .contact-container {
    margin-left: 250px;
  }

  .contact-form {
    max-width: 600px;
  }

  .contact-form img {
    width: 140px;
    height: 140px;
  }
}
