@tailwind base;
@tailwind components;
@tailwind utilities;

@import './footer.css';
@import './header.css';
@import './signup.css';
@import './login.css';
@import './sidebar.css';
@import './about.css';
@import './verification.css';
@import './failed.css';
@import './success.css';
@import './wordcloud.css';
@import './right_sidebar.css';
@import './left_sidebar.css';
@import './contact.css';
@import './profile.css';
@import './how-to-connect.css';
@import './portfolio.css';
@import './center-wrapper.css';

:root {
  /* Light theme */
  --main-font: Arial, sans-serif;
  --text-color: #000000;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

.dark-theme {
  /* Dark theme */
  --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --text-color: #ffffff;
}
