.portfolio-lable-lala {
    font-size: 24px;
    margin-left: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.portfolio-lable {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.portfolio-lable-customize {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 100px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.portfolio-center {
    margin: 40px;
    /* border: 2px solid blue; */
}

.portfolio-center section {
    margin-bottom: 20px;
}

.portfolio-top {
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 40px;
    margin-bottom: 40px;
}

.portfolio-top-left {
    /* border: 10px solid rgb(207, 218, 210); */
    position: relative;
    width: 450px;
    height: 400px;
    background: linear-gradient(#fafaf3, #fdfdf4);
    border-radius: 50% 60% 10% 10% / 10% 10% 10% 10%;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
}

.portfolio-top-left ul {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
}

.portfolio-top-left li {
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.portfolio-top-left ul li:nth-child(1) {
    color: rgb(77, 24, 24);
}

.portfolio-top-left ul li:nth-child(2) {
    color: rgb(35, 35, 148);
}

.portfolio-top-left ul li:nth-child(3) {
    color: green;
}

.portfolio-top-left ul li:nth-child(4) {
    color: rgb(90, 65, 10);
}

.portfolio-top-left ul li:nth-child(5) {
    color: purple;
}

.portfolio-top-left ul li:nth-child(6) {
    color: teal;
}

.portfolio-top-left ul li {
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.portfolio-top-middle {
    /* border: 10px solid rgb(241, 227, 225); */
    width: 500px;
    height: 450px;
    border: 1px solid #a5cf0e;
    background: linear-gradient(#fafaf3, #e6e0dd);
    /* border-radius: 50% 60% 10% 10% / 10% 10% 10% 10%; */
    transform: rotate(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);

}

.portfolio-links {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    /* Adjust the value as per your preference */
}

.small-icon {
    width: 30px;
    /* Adjust the size as per your preference */
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.portfolio-top-middle img {
    max-width: 80%;
    /* Adjust the size of the image as per your needs */
    max-height: 80%;
    /* Adjust the size of the image as per your needs */
    border-radius: 50%;
    object-fit: cover;
}

.portfolio-top-right {
    /* border: 10px solid rgb(229, 235, 231); */
    font-family: sans-serif;
    position: relative;
    border-radius: 50% 60% 10% 10% / 10% 10% 10% 10%;
    width: 450px;
    height: 400px;
    background: linear-gradient(#f5f5f0, #cef3d4);
    /* Exciting background color */
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.balloon-animation-left {
    top: 40%;
    left: 16%;
    /* transform: translate(-50%, -50%); */
    animation: float 9s ease-in-out infinite;
}

.balloon-animation-right {
    top: 40%;
    left: 16%;
    transform: translate(-50%, -50%);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -60%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.portfolio-top-right ul {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
}

.portfolio-top-right li {
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.portfolio-top-right ul li:nth-child(1) {
    color: #a7311c;
    /* Coral */
}

.portfolio-top-right ul li:nth-child(2) {
    color: #0e2879;
    /* Royal Blue */
}

.portfolio-top-right ul li:nth-child(3) {
    color: #046904;
    /* Lime Green */
}

.portfolio-top-right ul li:nth-child(4) {
    color: #6b490a;
    /* Orange */
}

.portfolio-top-right ul li:nth-child(5) {
    color: #60098b;
    /* Dark Orchid */
}

.portfolio-top-right ul li:nth-child(6) {
    color: #0f7a7c;
    /* Dark Turquoise */
}


.portfolio-top-right ul li {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}


.portfolio-objective {
    margin-top: 50px;
    height: auto;
    /* Remove fixed height to allow the div to expand based on content */
    padding: 20px;
    background-color: #f1f1e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #333;
    margin: 40px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-100%);
    /* Adjust this value to change the starting position  */
    transition: opacity 3.5s ease, transform 1.5s ease;
}

.portfolio-objective.appear {
    opacity: 1;
    transform: translateX(0%);
}

.portfolio-objective h1 {
    font-size: 20px;
    /* Increase the font size for better readability */
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 20px;
    /* Reduce the padding for better mobile display */
}

.portfolio-objective p {
    font-size: 16px;
    font-family: 'Times New Roman';
    margin-top: 5px;
    word-wrap: break-word;
    /* Add word-wrap to prevent words from overflowing the div */
}

.portfolio-skills {
    height: auto;
    /* Remove fixed height to allow the div to expand based on content */
    padding: 30px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    margin: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    /* Use auto-fit to create a flexible grid with minimum item width of 80px */
    grid-gap: 20px;
}

.grid-item {
    position: relative;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: calc(50% - 150px);
    left: 120px;
    max-width: 160px;
    /* Adjust the max-width to prevent the modal from going outside the container */
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #cee409;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.modal p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.grid-item:hover .modal {
    opacity: 1;
    visibility: visible;
}

.grid-item img {
    max-height: 60px;
    max-width: 80px;
    width: 100%;
    /* Ensure the image fits within the grid item */
}



.portfolio-experiences {
    padding: 20px;
    margin: 20px;
}

.experience-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.experience-grid-item {
    padding: 10px;
    height: auto;
    /* Remove fixed height to allow the grid items to expand based on content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
}

.experience-grid-item>div {
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

.exp-company {
    height: auto;
    /* Remove fixed height to allow the div to expand based on content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    background-color: #e4eee3;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
}

.exp-company img {
    border-radius: 50%;
}

.exp-company h1 {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.exp-company p {
    font-family: 'Times New Roman';
}

.exp-describe {
    font-family: 'Times New Roman';
    color: #333;
    height: auto;
    /* Remove fixed height to allow the div to expand based on content */
    background-color: #eff7ee;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(173, 16, 16, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-describe ul {
    margin-left: 10px;
}

.exp-describe li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}



.portfolio-projects {
    /* border: 2px solid rgb(43, 107, 226); */
    height: 2000px;
    padding: 20px;
    margin: 20px;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.projects-grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    /* border: 2px solid lightblue; */
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease;

}

.projects-grid-item:hover {
    transform: translate3d(0, 0, 0);
    animation: project-shake .5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes project-shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


.projects-grid-item img {
    border-radius: 50%;
    margin-top: 40px;
}

.projects-grid-item h1 {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.projects-grid-item h6 {
    font-size: 14px;
    color: gray;
}

.projects-grid-item h2 {
    font-family: 'Times New Roman';
    margin-top: 16px;
    text-align: left;
    margin-left: 40px;
    font-size: 16px;
    /* line-height: normal; */
}

.projects-grid-item h3 {
    font-family: 'Times New Roman';
    margin-top: auto;
    font-size: 14px;
    margin-bottom: 20px;
    color: gray;
}

@media (min-width: 1200px) {
    .portfolio-top {
        height: 500px;
        margin: 40px;
        margin-bottom: 40px;
    }

    .portfolio-top-left,
    .portfolio-top-right {
        height: 400px;
    }

    .portfolio-top-middle {
        height: 450px;
    }
}

@media screen and (max-width: 1200px) {

    /* Styles for tablet screens (max-width: 1200px) */
    .portfolio-container {
        overflow-x: auto;
    }

    .portfolio-top {
        flex-direction: row;
        width: max-content;
        height: auto;
        margin-bottom: 40px;
        overflow: hidden;

    }

    .portfolio-top-left,
    .portfolio-top-middle {
        width: 90%;
        height: auto;
        margin-right: 30px;
    }

    .portfolio-top-right {
        margin-right: 30px;
        height: auto;
    }

    .portfolio-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .small-icon {
        margin-right: 10px;
        margin-bottom: 10px;
    }




    .portfolio-links {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .portfolio-lable,
    .portfolio-lable-customize {
        margin-left: 10px;
        margin-top: 50px;
        text-align: center;
    }

    .portfolio-lable-lala {
        margin-left: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    /* Styles for mobile screens (max-width: 768px) */


    .portfolio-top {
        display: flex;
        overflow-x: auto;
        margin: 40px 0;
        padding: 5px;
    }

    .portfolio-top-left,
    .portfolio-top-middle,
    .portfolio-top-right {
        flex: 1;
        min-width: 200px;
        height: auto;
        margin: 10px;
        border-radius: 0;
    }


    .portfolio-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .small-icon {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .portfolio-objective{
        width: 200%;
    }
    
    .portfolio-skills{
        width: 200%;
    }
    .grid-container {
        grid-template-columns: repeat(10, 1fr);
    }

    .portfolio-experiences{
        width: 100%;
    }
    
    .portfolio-projects{
        width: 100%;
        height: auto;
    }

    .experience-grid-container,
    .projects-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-skills {
        padding: 10px;
    }


    .projects-grid-item {
        width: 200%;
    }

    .experience-grid-item{
        width: 200%;
    }

    .experience-grid-item {
        width: 200%;
    }
}

@media screen and (max-width: 480px) {

    .portfolio-top {
        display: flex;
        overflow-x: auto;
        margin: 40px 0;
        padding: 5px;
    }

    .portfolio-top-left,
    .portfolio-top-middle,
    .portfolio-top-right {
        flex: 1;
        min-width: 200px;
        height: auto;
        margin: 10px;
        border-radius: 0;
    }


    .portfolio-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .small-icon {
        margin-right: 10px;
        margin-bottom: 10px;
    }


    .portfolio-lable,
    .portfolio-lable-customize,
    .portfolio-lable-lala {
        margin-left: 5px;
    }

    .portfolio-objective {
        width: 500%;
    }

    .portfolio-skills{
        width: 500%;
    }
    .grid-container {
        grid-template-columns: repeat(10, 1fr);
    }
    .portfolio-objective h1 {
        font-size: 10px;
    }

    .modal {
        top: calc(50% - 90px);
        left: 80px;
        max-height: 60px;
    }

    .modal p {
        font-size: 10px;
    }

    .experience-grid-item{
        height: auto;
        width: 430%;
    }
    .projects-grid-item {
        width: 400%;
    }

    .projects-grid-item h1 {
        font-size: 12px;
    }

    .projects-grid-item h6 {
        font-size: 10px;
    }

    .projects-grid-item h2 {
        font-size: 10px;
    }

    .projects-grid-item h3 {
        font-size: 10px;
    }
}