.webcloud-page {
  display: flex;
  margin-left: 250px;
}

.webcloud-page .webcloud-container {
  width: 800px;
  height: 600px;
}

.centered-container-webcloud {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 70px;
}