/* Common styles for all screen sizes */
.webcloud-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcloud-page .webcloud-container {
  width: 100%;
  max-width: 800px;
  height: 600px;
  border: 2px solid rgb(170, 196, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container-webcloud {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 70px;
}

.webcloud-clear-history {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.clear-history-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.centered-container-webcloud p{
   color: gray;
   text-align: center;
}

/* Responsive adjustments for screen sizes below 768px (mobile devices) */
@media (max-width: 767px) {
  .webcloud-clear-history {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .clear-history-button {
    font-size: 10px;
  }
  .webcloud-page {
    /* Adjust the margin to center the content horizontally */
    margin-left: auto;
    margin-right: auto;
  }

  .webcloud-page .webcloud-container {
    max-height: 200px;
  }

  .centered-container-webcloud {
    margin-top: 40px;
  }
}

/* Responsive adjustments for screen sizes between 768px and 1023px (small devices) */
@media (min-width: 768px) and (max-width: 1023px) {
  .webcloud-page {
    /* Adjust the margin to center the content horizontally */
    margin-left: auto;
    margin-right: auto;
  }

  .webcloud-page .webcloud-container {
    height: 500px;
  }

  .centered-container-webcloud {
    margin-top: 60px;
  }
}

/* Responsive adjustments for screen sizes above 1023px (large devices) */
@media (min-width: 1024px) {
  .webcloud-page {
    /* Adjust the margin to center the content horizontally */
    margin-left: auto;
    margin-right: auto;
  }

  .webcloud-page .webcloud-container {
    height: 600px;
  }

  .centered-container-webcloud {
    margin-top: 70px;
  }
}
