.footer {
  /* Set fixed position at the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  /* Add styling and adjust as needed */
  background-color: #0d524c;
  padding: 5px;
  text-align: center;
  color: #080808;
  font-weight: 200;
  font-size: 13px;
}
