@tailwind base;
@tailwind components;
@tailwind utilities;

@import './footer.css';
@import './header.css';
@import './signup.css';
@import './login.css';
@import './sidebar.css';
@import './about.css';
@import './verification.css';
@import './failed.css';
@import './success.css';
@import './wordcloud.css';
@import './right_sidebar.css';
@import './left_sidebar.css';
@import './contact.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.centered-text {
  margin-top: 50vh;
  transform: translateY(-50%);
}
