.header {
  background-color: #0d524c;
  color: #cee409;
  padding: 5px;
  font-weight: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .logo:hover{
    font-weight: bold;
  }

  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links a {
    color: #CCCCCC;
    text-decoration: none;
  }
  
  .nav-links li:hover {
    color: #000;
    font-weight: bold;
  }
  