.webcloud-tutorial-container {
    margin-top: 40px;
    margin-left: 70px;
  }

.tutorial-name{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.tutorial-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  line-height: 1.7;
}

.tutorial-content-header{
  color: rgb(34, 95, 44);
  font-size: 20px;
  margin-top: 10px;
}

.tutorial-content-list{
  font-family: 'Times New Roman', Times, serif;
}
.extension-link{
  color: blue;
}