.portfolio-center {
    margin: 40px;
    /* border: 2px solid blue; */
}

.portfolio-center section {
    margin-bottom: 30px;
}

.portfolio-top {
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin: 40px;
}

.portfolio-top-left {
    width: 350px;
    height: 300px;
    background-color: #e9f1eb;
    /* border-radius: 50% 60% 10% 10% / 10% 10% 150% 10%; */
    /* Adjusted border-radius values */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);

}

.portfolio-top-left ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.portfolio-top-left li {
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}



.portfolio-top-middle {
    width: 550px;
    height: 500px;
    background-color: #f1f8ef;
    /* border-radius: 50% 60% 10% 10% / 10% 10% 10% 10%; */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);

}

.portfolio-top-middle img {
    max-width: 80%;
    /* Adjust the size of the image as per your needs */
    max-height: 80%;
    /* Adjust the size of the image as per your needs */
    border-radius: 50%;
    object-fit: cover;
}

.portfolio-top-right {
    width: 450px;
    height: 400px;
    background-color: #f4f5f0;
    /* border-radius: 50% 10% 60% 10% / 10% 100% 50% 10%; */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);

}

.portfolio-top-right ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.portfolio-top-right li {
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.portfolio-objective {
    margin-top: 50px;
    /* border-radius: 10% 50% 10% 10% / 10% 10% 10% 10%; */
    /* Updated border radius for a rhombus shape */
    height: 300px;
    padding: 20px;
    background-color: #f3f8bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #333;
    margin: 40px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-100%);
    /* Adjust this value to change the starting position */
    transition: opacity 1.5s ease, transform 1.5s ease;


}

.portfolio-objective.appear {
    opacity: 1;
    transform: translateX(0%);
}

.portfolio-objective h1 {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 80px;
}

.portfolio-objective p {
    font-size: 24px;
    font-family: 'Times New Roman';
}

.portfolio-experiences {
    height: 1700px;
    padding: 20px;
    margin: 20px;
}

.experience-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Creates 6 equal columns */
    grid-gap: 10px;
    /* Adjust the gap between grid items */
}

.experience-grid-item {
    padding: 10px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);


}

.experience-grid-item>div {
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

.exp-company {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    max-width: 300px;
    max-height: 400px;
    background-color: #e4eee3;
    border-radius: 50% 10% 60% 10% / 10% 10% 10% 10%;
}

.exp-company img {
    border-radius: 50%;
}

.exp-company h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.exp-position {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    max-width: 330px;
    max-height: 300px;
    background-color: #f0ebe7;
    border-radius: 10% 50% 10% 60% / 10% 10% 10% 10%;
}

.exp-position h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.exp-position p {
    font-size: 18px;
    font-style: italic;
}

.exp-describe {
    font-family: 'Times New Roman';
    color: #333;
    height: inherit;
    background-color: #eff7ee;
    border-radius: 10% 50% 10% 60% / 10% 10% 10% 10%;
    box-shadow: 0 2px 4px rgba(173, 16, 16, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.exp-describe ul {
    margin-left: 10px;
}

.exp-describe li {
    margin-bottom: 10px;
    font-size: 24px;
}

.exp-skills {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    max-width: 300px;
    max-height: 200px;
    background-color: #ece9e6;
    border-radius: 10% 50% 10% 60% / 10% 10% 10% 10%;

}

.exp-skills p {
    margin: 10px;
    font-size: 20px;
}

.portfolio-skills {
    height: 400px;
    padding: 30px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    margin: 40px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.portfolio-skills.appear {
    opacity: 1;
    transform: translateX(0%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10% 60% 10% 60% / 90% 70% 50% 80%;
    transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translate3d(0, 0, 0);
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.grid-item img {
    max-height: 80px;
    max-width: 100px;
}

.portfolio-projects {
    /* border: 2px solid rgb(43, 107, 226); */
    height: 1800px;
    padding: 20px;
    margin: 20px;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.projects-grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    /* border: 2px solid lightblue; */
    height: 550px;
    width: 700px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease;

}

.projects-grid-item:hover {
    transform: translate3d(0, 0, 0);
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.projects-grid-item img {
    border-radius: 50%;
}

.projects-grid-item h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.projects-grid-item h6 {
    font-style: italic;
}

.projects-grid-item h2 {
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}