.portfolio-center {
    margin: 40px;
    /* border: 2px solid blue; */
}

.portfolio-center section {
    margin-bottom: 30px;
}

.portfolio-top {
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin: 20px;
}

.portfolio-top-left {
    width: 350px;
    height: 300px;
    background-color: #acd7d8;
    border-radius: 50% 60% 60% 120% / 90% 70% 150% 80%;
    /* Adjusted border-radius values */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-top-left ul {
    list-style-type: disc;
    /* Use 'disc' for filled bullet points */
    padding-left: 20px;
    /* Adjust the indentation as desired */
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.portfolio-top-left li {
    margin-bottom: 10px;
    /* Adjust the spacing between list items as desired */
}



.portfolio-top-middle {
    width: 600px;
    height: 550px;
    /* Increased height to accommodate the shape */
    background-color: #09dde4;
    border-radius: 50% 60% 60% 60% / 90% 70% 50% 80%;
    /* Adjusted border-radius values */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-top-middle img {
    max-width: 80%;
    /* Adjust the size of the image as per your needs */
    max-height: 80%;
    /* Adjust the size of the image as per your needs */
    border-radius: 50%;
    object-fit: cover;
}

.portfolio-top-right {
    width: 450px;
    height: 400px;
    background-color: #e46109;
    border-radius: 50% 60% 60% 60% / 90% 70% 50% 80%;
    /* Adjusted border-radius values */
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-top-right ul {
    list-style-type: disc;
    /* Use 'disc' for filled bullet points */
    padding-left: 20px;
    /* Adjust the indentation as desired */
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.portfolio-top-right li {
    margin-bottom: 10px;
    /* Adjust the spacing between list items as desired */
}

.portfolio-objective {
    margin-top: 30px;
    border-radius: 30% 50% 70% 50% / 50% 10% 50% 40%;
    /* Updated border radius for a rhombus shape */
    height: 300px;
    padding: 20px;
    background-color: #f3f8bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #333;
}

.portfolio-objective h1 {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 80px;
}

.portfolio-objective p{
    font-size: 24px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.portfolio-experiences {
    border: 2px solid brown;
    height: 1200px;
    padding: 20px;
}

.experience-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Creates 6 equal columns */
    grid-gap: 10px;
    /* Adjust the gap between grid items */
}

.experience-grid-item {
    background-color: #f0f0f0;
    /* Set the background color of grid items */
    padding: 10px;
    border: 2px solid lightblue;
    height: 550px;
    /* Adjust the padding of grid items */

}

.portfolio-skills {
    /* border: 2px solid rgb(43, 107, 226); */
    height: 400px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    /* border: 2px solid lightblue; */
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    max-height: 80px;
    max-width: 100px;
}

.portfolio-projects {
    border: 2px solid rgb(43, 107, 226);
    height: 1300px;
    padding: 20px;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates 6 equal columns */
    grid-gap: 10px;
    /* Adjust the gap between grid items */
}

.projects-grid-item {
    background-color: #f0f0f0;
    /* Set the background color of grid items */
    padding: 10px;
    border: 2px solid lightblue;
    height: 400px;
    width: 650px;
    /* Adjust the padding of grid items */
}

.portfolio-awards {
    border: 2px solid rgb(43, 107, 226);
    height: 800px;
    padding: 20px;
}

.awards-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Creates 6 equal columns */
    grid-gap: 10px;
    /* Adjust the gap between grid items */
}

.awards-grid-item {
    background-color: #f0f0f0;
    /* Set the background color of grid items */
    padding: 10px;
    border: 2px solid lightblue;
    height: 100px;
    /* Adjust the padding of grid items */
}