.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    padding: 20px;
    margin-left: 5px; /* Adjust the margin as per your sidebar width */
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;


  }  
  .section-content {
    margin-bottom: 10px;
  }
  
  .section-content p {
    margin-left: 10px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .section-content img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .seed {
    display: flex;
    align-items: center;
  }
  .seed p{
    font-size: 30px;
    margin-left: 10px;
    color: rgb(255, 115, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .seed a{
    margin-left: 10px;
    color: rgb(73, 102, 27);
    font-size: 10px;
  }