.left-sidebar {
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 10px;
  height: 100vh;
  width: 300px;
  background-color: #f2f2f2;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar-subsections {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-subsections li {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-subsections li:hover {
  color: #000;
  font-weight: bold;
}
