.sidebar {
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 10px;
    height: 100vh;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Set the desired transparency level */
    z-index: 9999; /* Adjust the z-index value to ensure the sidebar appears above other contents */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .sidebar-header {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  
  .sidebar-subsections {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
  }
  
  .sidebar-subsections li {
    font-size: 14px;
  }
  